# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.obj
Debug/timestamp_recorder.exe
Debug/timestamp_recorder.pdb
*.ncb
timestamp_recorder.sln
*.htm
*.dep
timestamp_recorder/Debug/vc90.pdb
*.idb
timestamp_recorder/timestamp_recorder.vcproj
*.manifest
timestamp_recorder/timestamp_recorder.vcproj.DESKTOP-AVO59DR.administor.user
*.suo
*.rsp
Debug/timestamp_recorder.ilk
